body{
    text-align: center;
    font-family: "Arial";
    color: deeppink;
}

#container{    
    width: 50em;
    padding: 1em;
    border: 0.1em solid rgb(110, 124, 124);
    margin: 0 auto;
}

#cabecera {
    background: #594add;
    color: aliceblue;
    margin: 0;
    padding: 0em;
}